@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inter:wght@400;500;600&family=Lato:wght@400;700&family=Playfair+Display&display=swap');

body {
  //   font-family: 'Cinzel', serif;
  font-family: 'Inter', sans-serif;
  //   font-family: 'Playfair Display', serif;
  //   font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.lang-disabled {
  color: rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog__content {
  max-width: 492px;
}

.mini {
  max-width: 1100px;
  margin-bottom: 90px;
}

.text-normal {
  max-width: 600px;
}

.button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: inherit;
  padding: 15px 40px;
  border: 1px solid var(--color-black);
  font-family: 'Cinzel';
  transition: all 0.1s linear;
  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.mt-40{
  margin-top: 40px;
}